.scroll-button {
  background-color: rgba(15, 15, 15, .8);
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  margin-bottom: var(--trailer);
  opacity: .5;
  border: 1px solid var(--border-gray);
  transition:
    opacity .3s ease-out,
    border .3s ease-out;
  }


.scroll-button:hover {
  opacity: 1;
  border: 1px solid var(--border-green);
}

.up-arrow {
  fill: white;
}


.scroll-button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 3rem;
  box-shadow: 0 .5vh 1.5vh 0 rgba(0, 0, 0, .35);
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: -1;
}

.scroll-button:hover:after {
  opacity: 1;
  cursor: pointer;
}