/* imgLoad.css */
/* Wrapper */
.image-loader {
  line-height: 0;
  position: relative;
  width: 100%;
  padding: 0;
  font-size: 0;
}

/* Image */
.image-loader .image {
  /* visibility: hidden; */
  position: absolute;
}

/* Utility classes */
.image-loader.rounded {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.desktop .image-loader.rounded {
  border-radius: calc(var(--border-radius) * 1.25);
  overflow: hidden;
}

.image-loader.bordered {
  box-shadow: 0 0 0 1px var(--border-gray);
}

.image-loader.circle {
  border-radius: 50%;
  overflow: hidden;
}

/* Loading message */
.loading-message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

/* Controls */
.image-loader-controls {
  display: flex;
  justify-content: flex-end;
  margin: calc(var(--trailer) / 2) ;
}