/* imgLoad.css */
.image-loader {
  border: 1px solid var(--border-gray);
  line-height: 0;
  position: relative;
}

.image-loader .image {
  /* visibility: hidden; */
}

.image-loader.rounded {
  border-radius: 3rem;
  overflow: hidden;
}

.loading-message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
