/* imgLoad.css */
/* Image wrapper */
.image-loader {
  border: 1px solid var(--border-gray);
  line-height: 0;
  position: relative;
}

/* Image */
.image-loader .image {
  /* visibility: hidden; */
}

/* ClassName */
.image-loader.rounded {
  border-radius: var(--border-radius);
  overflow: hidden;
}

/* Loading message */
.loading-message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

/* Controls */
.image-loader-controls {
  display: flex;
  justify-content: flex-end;
  margin: calc(var(--trailer) / 2) ;
}