.about.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.profile-pic-wrapper {
  width: 15rem;
}

.profile-pic {
  /* border-radius: 2.5rem; */
  border: 1px solid var(--border-gray);
  /* position: relative; */
}

.bio {
  margin: var(--trailer) 0 calc(var(--trailer) * 2);
}