.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-gap: 3rem;
   grid-template-areas:
    "header . controls"
    "nav main ."
    "footer . .";

  .header,
  .controls,
  .nav,
  .main,
  .footer {
    border: 1px dotted rgba(255, 255, 255, .3);
  }
}



/* grid areas */
.controls {
  grid-area: controls;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

