/* 📰 Layout ******************************************************************/
body {
  background: var(--bg-color);
}

.grid {

}

.mobile {
  padding: 8vw;
}

.desktop.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-gap: 3rem;
  grid-template-areas:
    "header . controls"
    "nav main ."
    "footer . .";
}

.desktop .header,
.desktop .controls,
.desktop .nav,
.desktop .main,
.desktop .footer {
  display: flex;
  /* show grid borders */
  /* box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .1); */
}

/* Desktop */
/* grid areas and flex stuffs */
.desktop .header {
  justify-content: center;
  align-items: center;
}

.desktop .controls {
  grid-area: controls;
  align-items: center;
}

.desktop .nav {
  grid-area: nav;
  flex-direction: column;
  align-items: center;
}

.desktop .main {
  grid-area: main;
  align-items: baseline;
  justify-content: center;
  padding: 1rem; /* match nav-item */
}

.desktop .footer {
  grid-area: footer;
  position: fixed;
  bottom: 1rem;
  left: 7vw;
}
