.summary {
  margin-bottom: 10vh;
}

.image-holder {
  background: #313131;
  line-height: 0;
  border-radius: 3rem;
  padding: 5rem;
  overflow: hidden;
  border: 1px solid #1f614d;
  box-shadow: 0 .5vh 2vh 0 rgba(0, 0, 0, .9)
}