.projects {
  max-width: 92rem;
}

.summary {
  margin-bottom: 10vh;
  top: -1px;
  position: relative;
}

.image-holder {
  background: #222;
  line-height: 0;
  border-radius: 3rem;
  padding: 5rem;
  position: relative;
  border: 1px solid #333;
  transition: border .3s ease-in-out;
}

.image-holder:hover {
  border: 1px solid #2c7c64;
}

.image-holder:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-radius: 3rem;
  box-shadow: 0 .5vh 2vh 0 rgba(0, 0, 0, .9);
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: -1;
}

.image-holder:hover:after {
  opacity: 1;
}