/* 💆🏽‍ Header ******************************************************************/
.header {
  padding-top: 3rem;
}

.logo {
  position: relative;
/*   width: 7rem;
  height: 7rem; */
  fill: white;
  /* transform: translate(-50%, -50%); */
  transition: fill .3s ease-out;
  /* left: 50%; */
  /* top: 7vh; */
}

.logo:hover {
  fill: #46a789;
}

.title {
  color: white;
  text-align: center;
}