/* 👩‍💻 App *********************************************************************/
@import './styles/reset.css';
@import './styles/utility.css';
@import './styles/type.css';
@import './styles/layout.css';


/* Vars */
:root {
  /* colors */
  --green: #46a789;
  --secondary-color: white;

  --bg-color: rgb(25, 25, 25);

  /* fonts */
  --body-text-color: rgb(220, 220, 220);

  /* borders */

  /* transition */
}