/* 🗺 Nav *********************************************************************/
.nav {
  color: white;
  margin-bottom: 5vh;
  text-align: center;
}

.nav-item {
  padding: 1rem;
  /* display: block; */
}

.desktop .nav-item {
  padding: 1rem;
  transition:
    color .3s ease-out,
    background-color .3s ease-in;
  width: 100%;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
  cursor: pointer;
}

.desktop .nav-item:hover {
  background: #161616;
}